<!--load base layout-->
{% extends 'base_layout.html' %}

<!--load static files-->
{% load static %}

<!--load crispy forms-->
{% load crispy_forms_tags %}

{% block title %}
    Schedule Screening
{% endblock %}

{% block content %}
    <h1>Schedule Screening</h1>
    <p>Please use the form below to schedule a screening for your vendor.</p>

    <div class="form-container">
        <form action="/events/schedule_screening" method="post">
            <!--Django token to protest against cross site request forgeries. Token should be used inside any template
           that uses a POST form that targets internal URLs.-->
            {% csrf_token %}

            <!--form for vendor information form with cripsy filter-->
            {{ form|crispy }}

            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}