<!--load base layout-->
{% extends 'base_layout.html' %}

<!--load static files-->
{% load static %}

<!--load crispy forms-->
{% load crispy_forms_tags %}

{% block title %}
    Signup - Vendor Management Portal
{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <p>Please fill in the form below to create your account.</p>

    <div class="form-container">
        <form action="/accounts/signup" method="post">
            <!--Django token to protest against cross site request forgeries. Token should be used inside any template
           that uses a POST form that targets internal URLs.-->
            {% csrf_token %}

            <!--form and profile_form with cripsy filter-->
            {{ form|crispy }}
            {{ profile_form|crispy }}

            <input class="btn btn-success" type="submit" value="Signup">
        </form>
    </div>
{% endblock %}



