
html, body{
    background-color: #EDF5E1;
    font-family: 'Concert One', cursive;
    height: 100%;
}

/*styles for all p elements immediately after h1 elements*/
h1 + p{
    font-size: 1.25em;
}

.bodyContainer{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
}

/**********styles to push footer towards bottom of page**********/
#container{
    min-height: 100%;
}

#main{
    overflow: auto;  /*creates scroll bar once this section extends past one page*/
    padding-bottom: 100px;  /*must match footer height, prevents content in main from disappearing behind footer*/
}

/*additional footer styles below*/
#footer{
    position: relative;  /*positioned relative to its normal position*/
    height: 100px;
    margin-top: -100px;   /*equal to negative height of the footer - without this, footer would be pushed below height
    of the viewport.  This rule pulls the footer back into view.*/
    clear: both;  /*specifies on which sides of an element floating elements are not allowed to float*/
}
/**********end of styles to push footer towards bottom*********/

/**********navbar styles**********/
.navbar{
    background-color: #2F6690;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover{
    transform: scale(1.1);
}

.navbar-brand{
    color: white;
}

.nav-item .nav-link{
    color: #05386b;
    font-size: 1.25em;
}

.nav-item a:hover {
    color: #D9DCD6; !important;
}

.navbar-text {
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .open .dropdown-menu{
    background-color: yellow;
    /*background-color: #292b2c;*/
}

.nav-item.list-unstyled.align-right{
    align-content: right;
}

/**********end of navbar styles**********/


/**********styles for footer**********/
.footer{
    text-align: center;
    color: #D9DCD6;
    background-color: #2F6690;
}
/**********end of styles for footer**********/

/**********styles for sign-up and login forms**********/
.form-container {
    width: 40%;
    margin-bottom: 1em;
}
/**********end of styles for sign-up and login forms**********/

/**********styles for viewing vendors in my_vendors table**********/

/*Styles for viewing "my vendors" table.*/
.flex-spread{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.flex-spread p{
    vertical-align: bottom;
}

.table-format{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-format td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-format tr:nth-child(even){
    background-color: #f2f2f2;
}

.table-format tr:hover {
    background-color: #ddd;
}

.table-format th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: midnightblue;
    color: white;
}

.table-format .tableHeader{
    text-align: center;
}

.work_description{
    display: none;
}

.noData{
    text-align: center;
    background-color: orange;
    font-weight: bold;
}
/**********end of styles for viewing vendors in my_vendors table**********/

.emphasis{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

/**********styles for appointment editing modal**********/
*, *::after, *::before{
    box-sizing: border-box;
}

/*.modalClass{*/
/*    position: fixed;  !*positioned relative to the viewport. Will stay in same place even if page is scrolled.*!*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%) scale(0);  !*moves an element from its current position based on the x and y values.*!*/
/*    transition: 300ms ease-in-out;*/
/*    border-radius: 15px;*/
/*    z-index: 10;*/
/*    width: 500px;*/
/*    max-width: 75%;*/
/*    height: 800px;*/
/*    max-height: 80%;*/
/*}*/

/*#addVendorModal{*/
/*    background-color: lightgreen;*/
/*}*/

/*.modalClass.active{*/
/*    transform: translate(-50%, -50%) scale(1);  !*set scale to 1 so it will appear*!*/
/*}*/

/*.modalClass .modal-header{*/
/*    padding: 10px 15px;*/
/*    display: flex;    !*flex-box*!*/
/*    justify-content: space-between;  !*items are evenly distributed in the line; first item is on the start line,*/
/*    last item on the end line  *!*/
/*    border-bottom: 1px solid gray;*/
/*}*/

/*.modalClass .modal-header .title{*/
/*    font-size: 1.5em;*/
/*}*/

/*.modalClass .modal-header .close-button{*/
/*    font-size: 1.25em;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.modalClass .modal-header .close-button:hover {*/
/*    transform: scale(1.2);*/
/*}*/

/*.modalClass .modal-body{*/
/*    padding: 10px 15px;*/
/*}*/

/*#overlay{*/
/*    position: fixed;*/
/*    opacity: 0;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    background-color: rgba(0, 0, 0, .5);*/
/*    pointer-events: none;*/
/*}*/

/*#overlay.active{*/
/*    opacity: 1;*/
/*    pointer-events: all;*/
/*}*/

/**********end of styles for end of appoint editing modal**********/

/*.ui-timepicker-container {*/
/*    z-index: 3500 !important;*/
/*}*/

